<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="padding: 30px;">


<!-- Error messages / success messages --> 
<ul class="messages">
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
</ul>


<h1>Hey this is the temporary admin page - debugging purposes</h1>

<form id="restartEntries" action="" method="POST" enctype="multipart/form-data">  
    {% csrf_token %}
    <input type="submit" value="Restart Stations Entries" id="restartEntries" class="btn btn-primary" name="restartEntries">
    <br>
    <small>This button simulates the database first being inputted with the initial petrol stations, this will ideally only happen 
        maybe once a year or so during production. This button will remove all the fields and repopulate the database.</small>
</form>

<br>

<form id="updateEntries" action="" method="POST" enctype="multipart/form-data">  
    {% csrf_token %}
    <input type="submit" value="Update Prices Entries" id="updateEntries" class="btn btn-success" name="updateEntries">
    <br>
    <small>This button simulates the fuel prices table being updated, this will happen once a day.</small>
</form>

<br>

<form id="deleteFuelPrices" action="" method="POST" enctype="multipart/form-data">  
    {% csrf_token %}
    <input type="submit" value="Delete Prices Entries" id="deleteFuelPrices" class="btn btn-danger" name="deleteFuelPrices">
    <br>
    <small>This button will just clear the fuel prices table. Not really going to be used but just for testing purposes.</small>
</form>

</body>
</html>